<title>Y about</title>

<div class="container">
    <h1>About Y</h1>

    <br>

    <h2>What is Y?</h2>

    <p>We are the new platform for the latest news. Our goal is you can be updated with true information and make some contacts.</p>
    
</div>