<div class="container">   
    <h1>Contact Us</h1>    
        <form id="contactForm">
            <div class="mb-3">
                <label for="inputName" class="form-label">Name</label>
                <input type="text" class="form-control" id="inputName">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We will never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="inputMessage" class="form-label">Message</label>
                <input type="text" class="form-control" id="inputMessage">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    <div id="successMessage" class="alert alert-success mt-3" style="display: none;">
        Thank you for your message, we will contact you soon.
    </div>

</div> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $('#contactForm').submit(function(event) {
            event.preventDefault();
            $('#successMessage').show();
        });
    </script>